<div class="card text-bg-light my-3" style="max-width: 18rem;">
    <div class="card-header">Blog Title: {{blog?.title}}</div>
    <div class="card-body">
        <p class="card-text">Blog ID: {{blog?.id}}</p>
        <p class="card-text">Blog Description: {{blog?.description}}</p>
        <p class="card-text">Blog Author: {{blog?.author}}</p>
        <p class="card-text">Blog Comments: {{blog?.comments}}</p>
        <div class="btn-group">
            <button class="btn btn-primary" (click)="edit(blog?.id)">Edit</button>
            <button class="btn btn-danger" (click)="delete(blog?.id)">Delete</button>
        </div>
    </div>
</div>