<div class="card text-bg-light my-3" style="max-width: 18rem;">
    <div class="card-header">Book Name: {{book?.name}}</div>
    <div class="card-body">
        <p class="card-text">Book ID: {{book?.id}}</p>
        <p class="card-text">Book Authors: {{book?.authors}}</p>
        <p class="card-text">Book ISBN: {{book?.isbn}}</p>
        <div class="btn-group">
            <button class="btn btn-primary" (click)="edit(book?.id)">Edit</button>
            <button class="btn btn-danger" (click)="delete(book?.id)">Delete</button>
        </div>
    </div>
</div>